pkgbase = opendeezer
	pkgdesc = Native terminal client for browsing and streaming a Deezer library
	pkgver = 3.1.3
	pkgrel = 1
	url = https://github.com/Cycl0o0/OpenDeezer
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	makedepends = go
	makedepends = git
	depends = alsa-lib
	source = opendeezer-3.1.3.tar.gz::https://github.com/Cycl0o0/OpenDeezer/archive/refs/tags/v3.1.3.tar.gz
	sha256sums = eb493ad18a6f810463267da3279351ba98dbc84719db469f5985733f327c5688

pkgname = opendeezer
