[Desktop Entry]
Name=OpenDeezer
Comment=An open source reimplementation of Deezer
Exec=opendeezer
Icon=org.opendeezer.OpenDeezer.unified
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
Keywords=music;deezer;streaming;player;
